.features
    padding: 70px 0
    &-wrap
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        margin-top: 20px
        border-bottom: 1px solid #ebedf0
    &__box
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        margin-top: 40px
        margin-bottom: 40px
        width: 28%
        text-align: center
    &__icon
        display: flex
        justify-content: center
        align-items: center
        height: 80px
        width: 80px
        border: 1px solid #7c6eb0
        border-radius: 50%
        img
            height: 40px
    &__title
        margin: 20px 0
        +osSB
        font-size: 1.8em
        line-height: 25px
    &__desc
        +osL
        font-size: 1.6em
        line-height: 20px

@media (max-width: 600px)
    .features
        padding: 40px 0
        &-wrap
            flex-wrap: wrap
        &__box
            width: 100%
            margin: 20px 0
        &__icon
            height: 40px
            width: 40px
            img
                height: 20px
        &__title
            margin: 10px 0
        &__desc
            line-height: 13px
