.header
    padding-top: 10px
    &-top
        border-bottom: 1px solid #ebedf0
    &-wrap
        display: flex
        justify-content: space-between
        align-items: center
        padding-bottom: 10px
        flex-wrap: wrap
    &-box
        display: flex
        align-items: center
        &__icon
            img
                height: 36px
    &__text
        &-box
            margin-left: 10px
        &-title
            +robBd
            font-size: 1.6em
            margin-bottom: 8px
        &-text
            font-size: 1.4em
            a
                text-decoration: none
                color: #000000
                &:hover
                    color: $primary
    &-cart
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        &__title
            font-size: 1.4em
            margin-bottom: 9px
        &__link
            padding: 7px 20px
            background: #D6C7FE
            text-decoration: none
            text-transform: uppercase
            color: #3f2803
            border-radius: 5px
            font-size: 1.7em
            span
                color: $brown
                font-size: 1.2em
            &:hover
                 background: darken(#D6C7FE, 10)


@media (max-width: 992px)
    .header
        &-logo
            width: 100%
            text-align: center

@media (max-width: 600px)
    .header
        &-logo
            img
                width: 100%
        &-cart
            margin: auto
        &-box
            margin-top: 20px
            margin-bottom: 20px
    .nav__list
        display: none
    .header-box__icon img
        height: 25px
    .header-cart__link
        padding: 0 10px