.news
    margin-top: 50px
    &__wrap
        padding-bottom: 70px
        position: relative
        margin-top: 30px
        border-bottom: 1px solid #ebedf0
    &__title
        margin-top: 20px
        +osSB
        font-size: 1.8em
        color: $brown
    &__date
        margin-top: 20px
        color: $grey
        font-size: 1.2em
        text-transform: uppercase
        +osSB
    &__arrow
        border: none
        background: transparent
        &-box
            position: absolute
            top: -20px
            right: 0
        &-prev
            transform: rotateY(180deg)

@media ( max-width: 600px )
    .news__wrap
        padding-bottom: 40px
    