.service
    margin-top: 70px
    &__wrap
        display: flex
        justify-content: space-between
    &__card
        width: 32%
        &__img
            width: 100%
            &-box
                img: 100%
        &-img      
            min-height: 652px 
            &_1
                background: url('../images/service-1.jpg')center no-repeat
                background-size: cover
            &_2
                background: url('../images/service-2.jpg')center no-repeat
                background-size: cover
            &_3
                background: url('../images/service-3.jpg')center no-repeat
                background-size: cover
        &-title
            +oscB
            color: $brown
            font-size: 1.8em
            text-transform: uppercase
            letter-spacing: 2px
            text-align: center
        &-desc
            margin: 12px 0
            font-size: 1.2em
            text-transform: uppercase
            +osR
            text-align: center
            color: #adadad
        
@media (max-width: 768px)
    .service__wrap
        flex-direction: column
    .service__card
        width: 70%
        margin: auto
        margin-bottom: 20px
        height: auto
        &-img
            min-height: 200px

@media (max-width: 450px)
    .service__card
        width: 100%
        &-img
            min-height: 200px
